:root {
  --boja-teksta: #cdd6f4;
  --boja-akcenta-1: #2DD4BF;
  --boja-akcenta-2: #63b3ed;
  --boja-siva: #a0aec0;
  --boja-svetlo-crna: #2d3748;
}

.about-section {
  max-width: 1250px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
}

/* LEVI BLOK */
.about-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture-placeholder {
  width: 200px;
  height: 200px;
  background-color: var(--boja-svetlo-crna);
  border-radius: 50%;
  margin-bottom: 2rem;
  border: 4px solid var(--boja-akcenta-1);
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.7;
  color: var(--boja-siva);
}

.about-text b {
   color: var(--boja-teksta);
   font-weight: 600;
}


/* ===== DESNI BLOK ===== */
.about-right {
  flex: 1;
}

.skills-title {
  font-size: 1.5rem;
  color: var(--boja-teksta);
  border-left: 3px solid var(--boja-akcenta-1);
  padding-left: 1rem;
}

.bottom-skills-title {
  margin-top: 3rem;
}

.skill-box {
    margin-bottom: 1.25rem;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer; 
}

.skill-name {
    font-weight: 500;
}

.skill-percentage {
    font-size: 0.9rem;
    color: var(--boja-siva);
}

.skill-bar {
    width: 100%;
    height: 8px;
    background-color: var(--boja-svetlo-crna);
    border-radius: 4px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    background: linear-gradient(90deg, var(--boja-akcenta-1), var(--boja-akcenta-2));
    border-radius: 4px;
}

.skill-description-box {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, padding 0.5s ease-out;
}

.skill-description-text {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: var(--boja-siva);
    border-left: 2px solid var(--boja-akcenta-2);
    padding-left: 1rem;
}

.skill-box:hover .skill-description-box {
    max-height: 100px;
    padding-top: 0.5rem;
    transition: max-height 0.5s ease-in, padding-top 0.5s ease-in 0.1s;
}

.principles-container {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.principle-tag {
    display: inline-block;
    background-color: var(--boja-svetlo-crna);
    color: var(--boja-teksta);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.principle-tag:hover {
    background-color: var(--boja-akcenta-1);
    color: var(--boja-pozadine);
    transform: translateY(-4px);
}
