html {
  scroll-behavior: smooth;
}

:root {
  --boja-pozadine: #0B1120;
  --boja-pozadine-svetla: #0F172A;
  --boja-teksta: #cdd6f4;
  --boja-akcenta-1: #2DD4BF;
  --boja-akcenta-1-tamnije: #2dd4bf4d;
  --boja-akcenta-2: #63b3ed;
  --boja-siva: #a0aec0;
  --boja-svetlo-crna: #2d3748;
  --boja-donjeg-dela-kartice: #1E293B;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--boja-pozadine);
  color: var(--boja-teksta);
  font-family: 'Segoe UI', system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--boja-pozadine);
}

::-webkit-scrollbar-thumb {
  background-color: var(--boja-svetlo-crna);
  border-radius: 20px;
  border: 3px solid var(--boja-pozadine);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--boja-akcenta-1);
}


/* Zajednicke sekcije */
.about-section, .projects-section, .achievements-section, .contact-section {
  padding: 6rem 3rem;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
  background: linear-gradient(90deg, var(--boja-akcenta-1), var(--boja-akcenta-2));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.philosophy-section, .achievements-section {
  background-color: var(--boja-pozadine-svetla);
}


/* === FOOTER === */
.footer {
    padding: 2rem 3rem;
    text-align: center;
    background-color: #0F172A;
    color: var(--boja-siva);
    font-size: 0.9rem;
}
